h1 {
    text-align: center;
    background-color: antiquewhite;
}

main {
    margin: 0 auto;
    width: 400px;
    display: flex;
    flex-direction: column;
}


img {
    display: block;
    width: 100%;
    background:#000;
    animation: fade 15s;
}