/* Large Screens */
@media screen and (min-width: 768px) {
  main {
    position: relative;
  }

  .data, .weather {
    position: absolute;
    top: 10%;
    width: 40%;
    z-index: 1;
  }

  .data {
    left: 5%;
  }

  .weather {
    right: 5%;
    top: 60%;
  }

  .weather h2::after {
    content: " ⛅";
    color: var(--blue);
    font-size: 1.3rem;
  }

  .weather img {
    display: none;
  }
}