/* ===============================
   Large Screens
   =============================== */

@media screen and (min-width: 768px) {
  
  *{
    transition: all 0.5s ease;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }

  header h1 {
    font-size: 2rem;
  }

  /* Show nav always on large screens */
  .navigation {
    display: flex !important;
    flex-direction: row;
    gap: 1rem;
  }

  .navigation li a{
    background: rgba(119, 180, 26, 0.445);
  }

  /* Hide menu button on large screens */
  #menu {
    display: none;
  }

  /* ===============================
   Body
   =============================== */
   
  .container {
  display:grid; 
  grid-template-columns: 1.5fr 1.5fr 1.5fr;
  grid-gap: 5px;
  place-items: center;
  margin: 5px;
  padding: 10px;
  }

  .imge {
    font-weight: 700;
    border-bottom: 1px solid #777; 
    margin-bottom: 1rem;
  }

  figure {
    background-color:#fff;
  }

  img { 
    transform: scale(1);
    transition: transform 0.5s cubic-bezier(0.45, 0.05, 0.55, 0.95); 
    margin: .5rem;
  }

  figcaption {
    font-size: smaller;
    text-align: center;
  }

  /* hover effect */
  .hover:hover {
    box-shadow: 0 0 50px #333;
  }

}
